.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.ipa
*.xcarchive
iumrahBusiness.xcodeproj
Backend/HotelsWorker/node_modules/
Backend/HotelsWorker/wrangler.generated.jsonc
Backend/HotelsWorker/.wrangler/
